@model LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<p class="text-info">You must enter the password to continue.</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RedirectURL)
    @Html.BSValidationMessageFor(model => model.Password)
    @Html.BSPasswordFor(model => model.Password)
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
}