@model LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RedirectURL)
    @Html.BSPasswordFor(model => model.Password)
    <button type="submit" class="btn btn-primary">Submit</button>
}