@model BookDTO

@{
    ViewBag.Title = "Add Book";
}

<h2>Add Book</h2>
@using (Html.BSBeginHorizontalForm())
{
    @Html.BSTextBoxFor(model => model.Title)
    @Html.BSTextBoxFor(model => model.AuthorLast)
    @Html.BSTextBoxFor(model => model.AuthorFirst)
    @Html.BSSelectListFor(model => model.SectionId, ViewBag.Sections as SelectList, true)
    <button type="button" class="btn btn-success">Add Section</button>
    @*@Html.BSTextBoxFor(model => model.Title)*@
}