@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    @Scripts.Render("~/bundles/home/index")
}

<div class="jumbotron">
    <h1>Liberry</h1>
    <p class="lead">Liberry is a simple inventory system for managing and locating books in a personal library.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Book Search</h2>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" />
            <div class="input-group-btn">
                <button id="bookSearchButton" class="btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Author Search</h2>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" />
            <div class="input-group-btn">
                <button id="authorSearchButton" class="btn btn-primary" type="button"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Add Books</h2>
        <p>Got a new book? Go ahead and add it to your personal liberry.</p>
        <p><a class="btn btn-primary" href="~/Books/Add">Add &raquo;</a></p>
    </div>
</div>